In [2]:
import pandas as pd
import numpy as np
from ipywidgets import *
import matplotlib.pyplot as plt

In [3]:
from IPython.core.display import HTML # Load style sheet to improve visual presentation
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [16]:
Location = r'/Users/Nick/Desktop/Data-Science-Project/Capstone/Data/Dual_Stock_Short.csv'
df = pd.read_csv(Location) # Load data from spreadsheet

In [17]:
df.head() #view document columns in header

,Date,H1DQB,C1DQB,H2DQB,C2DQB,HSAHP,HKDCNY,HKDCNH,ASCNCHIX,RP07,HID1W,VA000011,HSITR Index
0,12/22/16,13848621.0,13000000.0,0.0,13000000.0,125.72,0.90,0.90,NaN,2.25,NaN,40122.88,NaN
1,12/21/16,13150651.0,13000000.0,0.0,13000000.0,126.08,0.90,0.90,NaN,2.47,NaN,40691.07,NaN
2,12/20/16,15637425.0,13000000.0,10236717.0,13000000.0,125.33,0.90,0.90,NaN,2.45,0.36,49461.75,20984.92
3,12/19/16,13982162.0,13848621.0,10006474.0,12609933.0,125.97,0.90,0.90,NaN,2.54,0.32,45108.91,19359.72
4,12/16/16,12641813.0,13150651.0,10155269.0,12634392.0,124.09,0.89,0.89,NaN,2.48,0.34,48405.39,18095.49

In [33]:
# Assign variable names
Date = df['Date'] # Date
Outflow_SH = df['H1DQB'] # Shanghai Outflow
Inflow_SH = df['C1DQB'] # Shanghai Inflow
Outflow_SZ = df['H2DQB'] # Shenzhen Outflow
Inflow_SZ = df['C2DQB'] # Shenzhen Inflow
AH_Premium = df['HSAHP'] # A-H Share Premium
Volatility = df['ASCNCHIX'] # China Stock Volatility Index
China_IR = df['RP07'] # China 7 Day Repo Rate
HK_IR = df['HID1W'] # Hong Kong One Week Repo Rate
Ashare_turn = df['VA000011'] # A-Share Turnover
Hshare_turn = df['HSITR Index'] # H-Share Turnover

In [36]:
# Create new varriable for comparison

Outflows = df.df['H1DQB','H2DQB']

AttributeError: 'DataFrame' object has no attribute 'df'